.date-picker {
    position: relative;
}

.date-picker.unselected, .date-picker.unselected button, .date-picker.unselected select {
    color: #d1d1d1;
}

.date-picker button {
    width: auto;
    min-width: auto;
    padding: 4px;
    background: white;
    color: #7b7b7b;
    border: solid 1px #d1d1d1;
    font-weight: normal;
}

.date-picker select {
    padding: 3px;
    width: auto;
}

.date-picker input[type="checkbox"] {
    margin-left: 0;
    margin-right: 0;
}

.date-picker .calendar-popup {
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

}
.date-picker .calendar-popup.onscreen {
    border: solid 1px #d1d1d1;
    border-top: 0;
    height: auto;
    box-shadow: #d1d1d1 0 1px 2px 0;
    z-index: 100;
}

.date-picker .calendar-popup table {
    border-spacing: 0;
    border-collapse: collapse;
}

.date-picker .calendar-popup table td {
    padding: 6px;
    text-align: center;
    font-size: 12px;
    background: #fafafa;
}

.date-picker .calendar-popup table thead td {
    background: #eaeaea;
}

.date-picker .calendar-popup table tbody td {
    font-weight: bold;
}

.date-picker .calendar-popup table .blurred {
    color: #d1d1d1;
    font-weight: normal;
}
.date-picker .calendar-popup table tbody .weekend {
    background: #f1f1f1;
}
.date-picker .calendar-popup table tbody tr:hover {
    color: #999;
}
.date-picker .calendar-popup table tbody td:not(.week-number):hover {
    color: #666;
}
.date-picker .calendar-popup table .week-number {
    font-size: 10px;
    border-right: solid 1px #d1d1d1;
    text-align: left;
    font-weight: normal;
}