html, body {
    height: 100%;
}

.m-container {
    box-sizing: content-box;

    max-width: 320px;
    max-height: 480px;

    height: 100%;

    margin: 10px;
    border: solid 5px gray;
    border-radius: 4px;

    overflow: auto;
}

.header {
    color: white;
    font-size: 24px;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}

.header .title {
    float: left;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
}

.header .nav-user {
    float: right;
}

.header:after {
    clear: both;
    content: "";
    display: block;
}

img.icon {
    max-width: 24px;
    max-height: 24px;
}

.navigation {
    /*clear: both;*/
    padding: 15px 5px;
    /*border-bottom: dashed 1px #999;*/
    /*margin-bottom: 10px;*/
    margin-top: 38px; /* HEADER HEIGHT */
}

a {
    color: inherit;
    text-decoration: inherit;
}

.navigation:after {
    clear: both;
    content: "";
    display: block;
}

.nav-column {
    float: left;
    width: 33.33%;
    text-align: center;
}

.nav-user {
    /*line-height: 33px;*/
}

.batch-icon {
    font-family: "Batch";
    /*font-size:24px;*/
    line-height: 1;
    display: inline-block;
    font-style: normal;
}



.form-add-new .amount-wrapper {
    width: 100%;
}
.form-add-new .amount-wrapper:after {
    content: "";
}
.form-add-new input#amount-euros {
    width: 100%;
    margin-left: 0;
}
.form-add-new .form-group {
    margin-bottom: 5px;
}




.button-row-2 .button {
    float: left;
    width: calc(50% - 5px);
}
.button-row-2 .button:not(:first-of-type) {
    margin-left: 10px;
}
.button.secondary {
    background-color: #999;
}




.floater .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 5px;
}

.floater {
    border: solid 8px #999;
    border-top-width: 2px;
    border-bottom-width: 0;
    border-right: none;
    overflow: auto;
    background-color: #fafafa;
    position: fixed;
    padding: 10px;
    left: 100%;
    width: 90%;
    top: 38px;
    bottom: 0;
    transition: left 600ms;
}

.floater .trigger-close {
    font-family: "Batch";
    position: absolute;
    top: 5px;
    right: 5px;
}

.floater.onscreen {
    left: 10%;
}


.range-group {
    position: relative;
    margin: 20px 0;
    padding: 10px 0;
}

.range-group input[type="range"] {
    position: absolute;
    top: 0;
    /*left: 0;*/
    /*width: 100%;*/
}

.range-group input[type="range"].min {
    left: 0;
    right: 18px;
}
.range-group input[type="range"].max {
    left: 18px;
    right: 0;
}