
/* RESET **************************************************************************************************************/
input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: calc(100% - 24px); /* Specific width is required for Firefox. */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; /* Hides the slider so custom styles can be added */
    border-color: transparent;
    color: transparent;
}





/* THUMB **************************************************************************************************************/
input[type=range]::-webkit-slider-thumb:active {
    /*background: #f1f1f1;*/
    cursor: -webkit-grabbing;
}
input[type=range].min::-webkit-slider-thumb {
    /*background: red;*/
    /*background: url('../Batch-master/PNG/16x16/next.png') #fafafa;*/
    /*background-image: url('../Batch-master/PNG/16x16/next.png');*/
    background-image: url('../Batch-master/_mod/next_gray.png');
    /*margin-left: -9px;*/
    /*left: -9px;*/
}
input[type=range].max::-webkit-slider-thumb {
    /*background: red;*/
    /*background: url('../Batch-master/PNG/16x16/previous.png') #fafafa;*/
    /*background-image: url('../Batch-master/PNG/16x16/previous.png');*/
    background-image: url('../Batch-master/_mod/previous_gray.png');
    /*margin-right: -9px;*/
    /*right: -9px;*/
}
input[type=range]::-webkit-slider-thumb {
    background-color: #fafafa;
    border: 1px solid #999;
    /*border-radius: 50%;*/
    border-radius: 3px;
    box-shadow: 0px 1px 1px #666/*, 0px 0px 1px #0d0d0d*/; /* Add cool effects to your sliders! */
    cursor: -webkit-grab;
    height: 24px;
    margin-top: -12px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    width: 24px;

    position: relative;
    z-index: 999;


    background-repeat: no-repeat;
    background-position: center center;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    background: #ffffff;
    border: 1px solid #999;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    cursor: pointer;
    height: 30px;
    width: 30px;

    position: relative;
    z-index: 999;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
    background: #ffffff;
    border: 1px solid #999;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    cursor: pointer;
    height: 30px;
    width: 30px;

    position: relative;
    z-index: 999;
}





/* TRACK **************************************************************************************************************/
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    /*height: 2px;*/
    height: 0;
    cursor: pointer;
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
    /*background: #3071a9;*/
    background: #999;
    /*border-radius: 1.3px;*/
    /*border: 0.2px solid #010101;*/
    border: solid 1px #999;
    /*border: none;*/
}

input[type=range]:focus::-webkit-slider-runnable-track {
    /*background: #367ebd;*/
    /*background: red;*/
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}
input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}